body {
  width:90%;
  font-family:arial;
  text-align:center;
}

th {
  vertical-align:top;
}

td {
    padding:15px;
    vertical-align:center;
}

th {
  text-align:center;
}

ul {
   margin:0;
}

table {
  border:1px solid black;
  max-width:1000px;
  margin:auto;
}

td, th {
  border:1px solid black;
}

table table {
border:0;
width:100%;
}

table table td, table table th {
  background-color:lightgrey;
  vertical-align:left;
}